@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    font-size: 62.5%;
} */

body {
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.6rem; */
    line-height: 1.5;
    /* Tối ưu tải phông chữ */
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    /* border: none; */
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* scrollbar */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Ẩn thanh cuộn */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Đổi animation tùy theo yêu cầu của bạn */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Đổi animation tùy theo yêu cầu của bạn */
    }
}

/* Áp dụng animation cho các phần tử có lớp animate-your-animation-class */
.animate-your-animation-class {
    animation: fadeIn 1s ease-in-out; /* Sử dụng animation 'fadeIn' với thời gian 1 giây và hiệu ứng ease-in-out */
    opacity: 0;
    transform: translateY(20px); /* Đổi animation tùy theo yêu cầu của bạn */
    animation-fill-mode: forwards; /* Giữ trạng thái cuối cùng của animation khi kết thúc */
}
